*{
  margin: 0;
  padding: 0;
}
.meu-container{
  padding: 0;
  border: 1px solid red;
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  /* Flex*/
  display: flex;
  flex-direction: column;
}
header{
  background-color: #B0C4DE
}
main{
  background-color: #FFC0CB;
  flex-grow: 1;
}
footer{
  background-color: #3CB371;
}
